
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>	
  	<link rel="stylesheet" type="text/css" href="{% static 'myrepository/index.css' %}">
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>

<body>
	{% include "myrepository/header.html" %}
	<div class="container">
		<div class="panel panel-default panel-height", id="panel-admin">

			{% block content %}

			    <h1 class="page_subtitle">UPDATE ALBUM</h1>

			    <form method="POST" class="post-form">{% csrf_token %}

			    	<table id="table-detail" class="table table-responsive">	
						<tr>
							<th>Name:</th>
			    			<td>{{ form.name }}</td>
			    		</tr>
		    		</table>

		    		<button type="submit" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> update album
					</button>
    			</form>

			{% endblock %}
			
			<br> <br>
			
			<a href="{% url 'genres_index' %}" class="top-menu">
				<button type="button" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> go back
				</button>
			</a>

		</div>
	</div>
 </body>
 </html>
