:root{
	--purple-color: #5609AF;
}

body {
	background-color:#EDEEE6 !important;
}

.container.lastpost h4{
	color:#454545;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 60px;
	font-weight: bold;
 }

.container hr {
	width: 80%;
	border-top: 3px solid var(--purple-color);
}

.container.links{
	padding-top: -30px;
	margin-top: -5px;
	margin-bottom:  -10px;
	text-align: center;

}

.container.links a {
	text-decoration: none;
    margin: 35px;
    color:#454545;
}

.container.links a:hover {
	text-decoration: none;
	margin: 35px;
    color:black;
}

#panel-admin{
	height: 100%;
  	border: 1px solid var(--purple-color);
  	padding: 20px;
  	border-radius: 0 !important;
}

#panel-admin h2{
	text-align: center;
	color:$gray-color;
  	border: 1px solid var(--purple-color);
	padding:5px;
	margin-bottom: 35px;
}

.table th, td{
   text-align: center;  
   background-color: white; 
}

.available .glyphicon-ok{
	color: #419641;
}

.available .glyphicon-remove{
	color: #c12e2a;
}

.favorite .glyphicon-star{
	color: #d58512;
}


#table-detail th
{
    text-align:right;
}

